[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pydocstyle = "*"
flake8 = "*"
mypy = "*"
black = "*"

[packages]
pymysql = "*"

[requires]
python_version = "3.7"
