

.color-primary{
  // $color-primary : #3199BA;
  color: $color-primary;
}
.color-red{
  // $color-red : #EC502B;
  color: $color-red;
}
.color-white{
  color: white;
}
.color-yellow{
  color: #D4AF37;
}
.color-gray{
  color:rgba(0, 0, 0, 0.54);
}
.color-black{
  color:#222222;
}