.d-flex{
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
