
@import './mixins';
.h1{
  font-size: 48px;
  font-weight: 500;
}
.h2{
  font-size: 24px;
  font-weight: bold;
  line-height: 160%;
}
.h3{
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.h4{
  font-size: 16px;
  line-height: 160%;
}
.h5{
  font-size: 14px;
}
.font-thumb{
  font-size: 14px;
}
@for $i from 1 through 10 {
  .text-overflow-#{$i}{
    @include textOverflow($i)
  }
}
.text-overflow-15{
  @include textOverflow(15)
}
.text-overflow-20{
  @include textOverflow(20)
}
.font-weight-500{
  font-weight: 500;
}