[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pep8 = "*"
mypy = "*"
pytest = "*"
autopep8 = "*"
black = "==19.3b0"

[packages]
requests = "*"
Scrapy = "*"
peewee = "*"
PyMySQL = "*"
SPARQLWrapper = "*"
pandas = "*"
loguru = "*"
xlrd = "*"

[requires]
python_version = "3.7"
