[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pep8 = "*"
mypy = "*"
pytest = "*"
pydocstyle = "*"
autopep8 = "*"
black = "==19.3b0"

[packages]
requests = "*"
scrapy = "*"
peewee = "*"
pymysql = "*"

[requires]
python_version = "3.7"
