@import '../../css/common';
@import '../../css/variable';

.constituency-candidates{
  overflow-x: hidden;
  &.is-select{
    .candidate-card__inner{
      transform: translateX(40px);
    }
  }
  &__submit-btn{
    position: fixed;
    z-index: 20;
    padding: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    display: flex;
    @extend %transition;
    @extend %border-box;
    transform: translateY(110%);
    &.is-disabled{
      pointer-events: none;
      span{
        color: rgba(0, 0, 0, 0.3);
        background: #E0E0E0;
      }
    }
    &.is-show{
      transform: translateY(0%);
    }
    span{
      @extend %transition;
      display: block;
      text-align: center;
      color:white;
      width: 100%;
      background: #EC502B;
      padding: 6px 22px;
      border-radius: 4px;
    }
  }
  .compare-btn{
    position: absolute;
    top: 25px;
    right: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  &__header{
    position: relative;
  }
  &__compare-text{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 16px 24px;
    width: calc(100% - 32px);
    z-index: 1;
    background-color: rgb(249, 249, 249);
  }
  
  .candidate-card-wrap{
    position: relative;
    &.style-select{
      .candidate-card-wrap__checkbox{
        transform: translateX(0);
        opacity: 1;
      }
      &.style-checked{
        .candidate-card-wrap__checkbox{
          color:white;
          background: #094E65;
        }
        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background:#3199BA;
          opacity: 0.2;
        }
      }
    }
    .candidate-card-wrap__checkbox{
      position: absolute;
      opacity: 0;
      top: 50%;
      border-radius: 50%;
      width: 26px;
      height:26px;
      margin: -13px 16px 16px;
      border: 2px solid rgba(0, 0, 0, 0.3);
      color:transparent;
      text-align: center;
      transform: translateX(50px);
      @include mediaMedium{
        z-index: 9;
        top: 60px;
        right: 30px;
      }
    }
  }
}
