@import '../../css/variable';

.header{
  position: relative;
  background-color:white !important;
  border-bottom: 2px solid $color-primary;
  &__toolbar{
    justify-content: center;
  }
  &__kv{
    width: 190px;
    height: 48px;
    position: absolute;
    background-image:url('/img/header/kv.svg');
  }
  
  &__right{
    margin-left: auto;
  }
  // svg
  &__menu-icon{
    z-index: 2;
    fill: $color-primary !important;
  }
}
