.bubble-chart-container {
    flex: 1;
    position: relative;
    display: flex;
    user-select: none;
    justify-content: center;
  }
.bubble-label {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  will-change: left, top, height, width;
  font-size: 12px;
}

.bubble-label:hover {
  overflow: visible;
  font-weight: bold;
  font-size: 18px;
}
.vis-container {
    padding: 40px;
}
.vis-controller {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.vis-subtitle {
  text-align: left !important;
}
.vis-controller-mobile {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  text-align: center;
}
.vis-title {
  text-align: center;
  padding-bottom: 3%;
  font-family: 'Noto Sans TC' !important;

  span {
    color: #EC502B
  }
}
@media (max-width: 768px){
  .vis-container {
      padding: 0px;
  }
  .vis-title {
    font-family: 'Noto Sans TC' !important;
    padding: 10% 3% 0 3%;
  }
}

