@import '../../css/variable';
@import '../../css/mixins';
.page-candidate-compare{
  .parties-compare-header{
    height: 220px;
  }




  .parties-compare-candidates{
    height: 80px * 7;
    position: relative;
    &-item{
      height: 50px;
    }
  }


  .parties-compare-bills{
    position: relative;
    height: 560px;
    .parties-compare-bills-item{
      height: 210px;
    }
  }
  .parties-compare-politics{
    position: relative;
    height: 500px;
  }
}