@import '~antd/dist/antd.css';

.header{
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  background: #202124;
  border-right: 1px solid #ccc;
  z-index: 1000;
}

$barHeight: 56px;

.nav{
    list-style: none;
    width: 95%;
    height: $barHeight;
    margin: 0 auto;
    position: relative;
    .appName {
      font-size: 20px;
      color: white;
      list-style: none;
      
    }
}

.drawer-btn {
  padding: 10px;
}
