@import './css/variable';
@import './css/loading';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 1300px;
  #root{
    height: 100%;
    .main-container{
      display: flex;
      flex-direction: column;
      min-height: inherit;
      height: 100%;
      &__content{
        flex: 1 1 auto;
      }
    }
  }
}

.typography{
  font-family: 'Noto Sans TC',
            '-apple-system',
            'BlinkMacSystemFont',
            'Segoe UI',
            'Roboto',
            'Oxygen',
            'Ubuntu',
            'Cantarell',
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            'sans-serif'
}

.color-primary{
  color: $color-primary;
}
.color-red{
  color: $color-red;
}
.color-white{
  color: white;
}
.highlight{
  background:linear-gradient(transparent 50%, rgba(236,80,43,0.2) 50%);
}
.cursor-pointer{
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}

.hover-underline{
  display:inline-block;
  position:relative;
  color: $color-primary;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: $color-primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

// copy from bootstrap
// https://getbootstrap.com/docs/4.3/utilities/embed/
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  &.embed-responsive-16by9 {
    &::before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }
  }
  .embed-responsive-item{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.font-thumb{
  font-size: 14px;
}

.d-block{
  display: block;
}

.divider{
  width: 100%;
  height: 1px;
  background-color:$color-primary;
}

.button-icon{
  margin-left: -2px;
  margin-right: 8px;
  font-size: 0.8125rem;
}

.alert-frame{
  position: relative;
  border: 1px solid $color-light-gray;
  border-radius: 10px;
  font-size: 14px;
  line-height: 160%;
}

.p-0{
  padding: 0 !important
}
